                        /* Overall style */
  html, body{
    height:100%;
    width:100%;
    background-color: lightgray;
            }
                  
          
h5{
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

                          
/* Links hover effect (required by assigment) */
a:hover {
    color: red !important;
    }

 /* buttons shadow style on hover (required by assigment)*/   
 .btn:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5) !important;
 }



                    /*Section specific styles*/ 


  /* navbar styling */
.bg-light{
    background-color: #98996b !important;
}
/* navbar links */
.navbar-nav a {
    color: white !important;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-nav a:hover {
    color: red !important;
    font-weight: bold;
    
}






                         /* jumbotron styling */
.jumbotron{
    padding-top: 1px !important; /* decrease jumbotron height to minimum*/
    padding-bottom: 1px !important;
}

/* Jumbotron avatar image */
.card-img-top {
    max-height: 64px; /* as per image dimensions*/
    max-width: 64px;
}
/* Jumbotron text */
#text-jumbotron{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#text-jumbotron-name{
    text-align: left !important;
    font-family: 'Times New Roman', Times, serif;
}




                      /* work section */

/* height of the section Work */
#section-work{
    height: 50vh;
    width: 90%;
    
    
}

/* overall card image style for work sectiom */
.card-img-style {
    background-repeat: no-repeat;
    background-size: cover;
}



/* each card image */
#card-img-prework{
    background-image: url(../images/Prework\ Study\ Guide.png);
    
}

#card-img-horiseon{
    background-image: url(../images/Horiseon.png);
    
}

#card-img-portfolio{
    background-image: url(../images/portfolio_demo.png);
}

#card-img-bootstrap{
    background-image: url(../images/Bootstrap-Portfolio.png);
}


/* text on work  cards */
.card-text-desc{
    position: absolute;
    top: 30%;
    bottom: 20%;
    left: 0%;
    right: 60%;
    display: flex;
    align-items: center;
    color: black;
    background-color: lightblue;
    font-size: 1vh;
    font-weight: bolder;
    overflow: hidden;
    opacity: 80%;
    
}

/* Link button style */
.btn {
    width: 20% ;
    align-self: center ;

}

                               /* About me \ Sklills (combined on one row as a requirement)*/


/* about me section */
#img-avatar{
    justify-content: center;
    background-image: url("../images/Avatar.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* height of the section About me/skills */
#section-skills{
    height: 20vh;
    width: 90%;
    
}

/* Backgrounds */
#section-skills-style{
    background-color: bisque;
}

#section-about-me-style{
    background-color:blanchedalmond;
}


                             /* Footer section */


/* footer style */
#section-footer {
    background-color: black;
}

/* footer links */
.link-footer a{
    text-align: left;

}
  
/* footer text */
.ul-links-text{
    color: white;
    
}
.ul-links-text:hover{
    color: red;
}




#text-footer{
    color: white;
    
}

/* footer icons */
.footer-img {
    height: 25px;
    width: 25px;
    
}




