                        /* Overall style */
  html, body{
    height:100%;
    width:100%;
    
            }
                  
          


                          
/* Links hover effect (required by assigment) */
a:hover {
    color: red !important;
    }

 /* buttons shadow style (required by assigment)*/   
 .btn:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5) !important;
 }



                    /*Section specific styles*/ 

                         /* jumbotron styling */
.jumbotron{
    padding-top: 1px !important; /* decrease jumbotron height to minimum*/
    padding-bottom: 1px !important;
}

/* Jumbotron avatar image */
.card-img-top {
    max-height: 64px; /* as per image dimensions*/
    max-width: 64px;
}
/* Jumbotron text */
#text-jumbotron{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#text-jumbotron-name{
    text-align: left !important;
    font-family: 'Times New Roman', Times, serif;
}


                      /* work section */

/* height of the section Work */
#section-work{
    height: 50vh;
    width: 90%;
    background-color: lightgrey;
    
}

/* overall card image style for work sectiom */
.card-img-style {
    background-repeat: no-repeat;
    background-size: cover;
}



/* each card image */
#card-img-prework{
    background-image: url(../images/Prework\ Study\ Guide.png);
    
}

#card-img-horiseon{
    background-image: url(../images/Horiseon.png);
    
}

#card-img-portfolio{
    background-image: url(../images/portfolio_demo.png);
}


/* text on work  cards */
.card-text-desc{
    position: absolute;
    top: 30%;
    bottom: 20%;
    left: 0%;
    right: 60%;
    display: flex;
    align-items: center;
    color: black;
    background-color: lightblue;
    font-size: 1vh;
    font-weight: bolder;
    overflow: hidden;
    opacity: 80%;
    
}

/* Link button style */
.btn {
    width: 20% !important;
    align-self: center !important;

}


